.NavContainer {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: rgb(81, 113, 165);
    border-radius: 10px;
    
}

h1 {
    font-family:"Patrick Hand";
    font-size: 300%;
}

a {
    background-color:rgb(81, 113, 165);
    color: white;
    font-size:200%;
    font-family:"Patrick Hand";
    text-decoration: none;
}

p {
    font-size: 150%;
}